h1 {
  text-align: center;
}
button {
  display: block;
  margin-inline: auto;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 220, 155);
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}
button:hover {
  font-weight: bold;
  font-size: 15px;
}
img {
  display: block;
  margin-inline: auto;
}
@media (max-width: 620px) {
  img {
    width: 90%;
  }
}